@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

html, 
body {
  background-color: #282a36;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  overflow: hidden;
}

input {
  background-color: rgb(254,254,254);
  color: black;
}

.container {
  display: block;
  width:100%;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

button {
  font-size: 1rem;
  background-color: white;
  color: black;
}

.result {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.logo{
  border-radius: 12px;
  width: 40px;
  transition: all .5s linear;
}

.logo:hover{
  border-radius: 50px;
  transition: all .5s linear;
}

nav{
  background-color: #343746;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  height: 100%;
}

.block{
  color: #6272a4;
  padding: 15px;
  font-size: 23px;
  width: 23px;
}

.active{
  background-color: #3c3d51;
  color: #f8f8f2;
  border-left: 2px solid #9e5b8b;
}

.mt-2{
  margin-top: 10px;
}

.explorer{
  background-color: #21222c;
  width: 175px;
  height: 100%;
}

#app{
  display: flex;
  flex-direction: row;
}

.short-block{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  font-size: 11px;
  text-transform: uppercase;
}

.ft-up{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 19px;
  font-size: 19px;
}

.btn{
  padding: 2px;
  border-radius: 5px;
  transition: all .5 linear;
}

.btn:hover{
  background-color: #44475a;
}

.mini-block{
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #282a36;
  border-bottom: 1.5px solid rgb(24, 26, 46);
  padding-left: 10px;
}

.mini-block:last-of-type{
  border-bottom: 0px solid;
}

.bold{
  margin-left: 5px;
  font-weight: bold;
  font-size: 10.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.down{
  font-size: smaller;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(-90deg);
}

.down-activate{
  animation-name: rotatein;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(0deg);
}

@keyframes rotatein{
  0%{
    transform: rotate(-90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.sblock{
  padding-left: 10px;
  font-size: 12.5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.center{
  text-align: center;
}